In [3]:
# importing python modules
import pandas as pd
import numpy as np
# importing data scrapped from NatGas_Scrapper.py
natgas_data = pd.read_csv('Final_NatGas_Data.csv')

# Natural Gas Data Cleaning
- Data Source https://www.eia.gov
- Data collecting via web scrapper https://git.io/JfQpN
- Example use of this data https://git.io/JfQpb

#### Displaying dataset
Displaying data to get an idea of the shape of the dataset and to see what variables we need to create pathways for. we have to split and clean the data to be easily accessible for future projects.

In [38]:
# Displaying Dataset
natgas_data.head()

,Cats,2000-01-1,2000-02-1,2000-03-1,2000-04-1,2000-05-1,2000-06-1,2000-07-1,2000-08-1,2000-09-1,...,2019-06-1,2019-07-1,2019-08-1,2019-09-1,2019-10-1,2019-11-1,2019-12-1,2020-01-1,2020-02-1,2020-03-1
0,Import Prices,2.44,2.60,2.61,2.86,3.05,3.87,3.94,3.62,4.15,...,1.54,1.86,1.73,1.65,2.15,2.80,3.23,2.92,2.16,1.71
1,Import Prices By Pipeline,2.42,2.57,2.60,2.85,3.05,3.89,3.99,3.65,4.19,...,1.54,1.72,1.63,1.65,1.96,2.66,2.84,2.44,1.94,1.62
2,Import Prices As LNG,2.85,3.33,2.77,2.90,3.06,3.49,3.51,3.29,3.70,...,8.44,6.73,4.57,0.00,4.65,7.12,6.17,6.03,5.67,4.34
3,Export Prices,2.95,3.05,3.00,3.37,3.52,4.27,4.45,4.13,4.81,...,3.18,3.47,3.23,3.55,3.54,4.03,3.88,3.67,3.48,3.27
4,Export Prices By Pipeline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.28,2.26,2.15,2.38,2.28,2.66,2.48,2.13,1.93,1.74

#### Splitting, Defining, and Formatting Columns
These Columns represent the dates in the dataset, we want to define this for easy use later. for example we can call on Columns for our x axis in a time series chart.

In [37]:
#-----------------------------------
### Columns
Columns = natgas_data.columns[1:]
# Formatting Columns as dates
Columns = pd.to_datetime(Columns)
#------------------------------------

#### Splitting and defining variables from the dataset
The rows in our dataset represents our variables. We are creating shortcut pathways for an efficient use of the dataset.

In [ ]:
#------------------------------------
### Rows
IP = natgas_data.iloc[0]
IP_BP = natgas_data.iloc[1]
IP_LNG = natgas_data.iloc[2]
EP = natgas_data.iloc[3]
EP_BP = natgas_data.iloc[4]
EP_LNG = natgas_data.iloc[5]
CG_P = natgas_data.iloc[6]
RES_P = natgas_data.iloc[7]
COM_P = natgas_data.iloc[8]
IND_P = natgas_data.iloc[9]
ELEC_P = natgas_data.iloc[10]
GW = natgas_data.iloc[11]
MP = natgas_data.iloc[12]
NGPL = natgas_data.iloc[13]
DRY = natgas_data.iloc[14]
IV = natgas_data.iloc[15]
IV_BP = natgas_data.iloc[16]
IV_LNG = natgas_data.iloc[17]
EV = natgas_data.iloc[18]
EV_BP = natgas_data.iloc[19]
EV_LNG = natgas_data.iloc[20]
TC = natgas_data.iloc[21]
GS = natgas_data.iloc[22]
BG = natgas_data.iloc[23]
WG = natgas_data.iloc[24]
INJ = natgas_data.iloc[25]
WITHD = natgas_data.iloc[26]
NET_WITHD = natgas_data.iloc[27]
T_C = natgas_data.iloc[28]
LPF = natgas_data.iloc[29]
PDU = natgas_data.iloc[30]
D2C = natgas_data.iloc[31]
RES_C = natgas_data.iloc[32]
COM_C = natgas_data.iloc[33]
IND_C = natgas_data.iloc[34]
VF_C = natgas_data.iloc[35]
EP_C = natgas_data.iloc[36]
#-------------------------------------

### Splitting the variables to only values and converting type to float
We drop the dates from the variables because we already have the dates stored away. we then convert our values into floats.

In [35]:
#-------------------------------------
### Converting variables to float values
IP_Float = IP.values[1:].astype(float)
IP_BP_Float = IP_BP.values[1:].astype(float)
IP_LNG_Float = IP_LNG.values[1:].astype(float)
EP_Float = EP.values[1:].astype(float)
EP_BP_Float = EP_BP.values[1:].astype(float)
EP_LNG_Float = EP_LNG.values[1:].astype(float)
CG_P_Float = CG_P.values[1:].astype(float)
RES_P_Float = RES_P.values[1:].astype(float)
COM_P_Float = COM_P.values[1:].astype(float)
IND_P_Float = IND_P.values[1:].astype(float)
ELEC_P_Float = ELEC_P.values[1:].astype(float)
GW_Float = GW.values[1:].astype(float)
MP_Float = MP.values[1:].astype(float)
NGPL_Float = NGPL.values[1:].astype(float)
DRY_Float = DRY.values[1:].astype(float)
IV_Float = IV.values[1:].astype(float)
IV_BP_Float = IV_BP.values[1:].astype(float)
IV_LNG_Float = IV_LNG.values[1:].astype(float)
EV_Float = EV.values[1:].astype(float)
EV_BP_Float = EV_BP.values[1:].astype(float)
EV_LNG_Float = EV_LNG.values[1:].astype(float)
TC_Float = TC.values[1:].astype(float)
GS_Float = GS.values[1:].astype(float)
BG_Float = BG.values[1:].astype(float)
WG_Float = WG.values[1:].astype(float)
INJ_Float = INJ.values[1:].astype(float)
WITHD_Float = WITHD.values[1:].astype(float)
NET_WITHD_Float = NET_WITHD.values[1:].astype(float)
T_C_Float = T_C.values[1:].astype(float)
LPF_Float = LPF.values[1:].astype(float)
PDU_Float = PDU.values[1:].astype(float)
D2C_Float = D2C.values[1:].astype(float)
RES_C_Float = RES_C.values[1:].astype(float)
COM_C_Float = COM_C.values[1:].astype(float)
IND_C_Float = IND_C.values[1:].astype(float)
VF_C_Float = VF_C.values[1:].astype(float)
EP_C_Float = EP_C.values[1:].astype(float)
#------------------------------------------------